body {
    color: #050203;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

.center-wrapper {
    width: 100%;
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.text-green {
    color: #86c878;
}

.logo {
    display: inline-block;
    width: 166px;
    height: 62px;
    text-indent: 9999px;
    overflow: hidden;
    background-image: url(../img/logo.png);
    background-size: contain;
}

.btn {
    display: inline-block;
    min-width: 250px;
    height: 70px;
    line-height: 64px;
    padding: 0 40px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    background-color: #71b862;
    border-radius: 50px;
    border: 3px solid #71b862;
    transition: all .15s ease-in;
}

.btn:hover {
    background-color: #fff;
    color: #71b862;
    box-shadow: 0px 5px 15px 0px rgba(134, 200, 120, 0.75);
}

.context-menu {
    display: flex;
    justify-content: center;
    margin: 40px 10px 60px;
}

.context-menu a {
    margin-left: -2px;
    height: 53px;
    line-height: 49px;
    padding: 0 15px;
    border: 2px solid #e6e6e6;
    text-transform: uppercase;
    font-size: 1.4rem;
    transition: all .15s ease-out;
}

.context-menu a:hover {
    position: relative;
    z-index: 10;
    border-color: #86c878;
    color: #86c878;
    box-shadow: 0px 5px 9px 0px rgba(134, 200, 120, 0.22);
}

.context-menu a:first-child,
.context-menu a:last-child {
    min-width: 120px;
    text-align: center;
}

.context-menu a:first-child {
    margin-left: 0;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}

.context-menu a:last-child {
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

.icon-burger {
    position: relative;
    display: inline-block;
    width: 27px;
    margin-bottom: 20px;
    vertical-align: middle;
}

.icon-burger,
.icon-burger::before,
.icon-burger::after {
    background-color: #fff;
    height: 4px;
}

.icon-burger::before,
.icon-burger::after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
}

.icon-burger::before {
    top: 10px;
}

.icon-burger::after {
    top: 20px;
}

.page-header {
    background-color: #191c19;
}

.page-header .content-offset {
    padding-left: 30px;
    padding-right: 30px;
}

.page-header .info-bar-wrapper {
    background-color: #fff;
}

.page-header .info-bar {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.page-header .info-bar {
    font-weight: 700;
}

.page-header .info-bar .free-delivery {
    display: none;
}

.page-header .info-bar .icon {
    margin-right: 9px;
    font-size: 2.2rem;
    vertical-align: middle;
}

.page-header .hero {
    position: relative;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    min-height: 420px;
    height: 50vw;
    max-height: 670px;
    background-image: url(../img/hero-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.page-header .nav-toggle-btn {
    width: 55px;
    height: 55px;
    background-color: #86c878;
    border: 0;
    cursor: pointer;
}

.page-header .promo-text {
    width: 100%;
    flex-shrink: 0;
}

.page-header .main-nav {
    position: relative;
}

.page-header .main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-header .main-nav ul a {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 45px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.page-header .main-nav .main-menu {
    display: none;
    position: absolute;
    right: 0;
    min-width: 230px;
}

.page-header .main-nav .main-menu.on {
    display: block;
}

.page-header .main-nav .submenu-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    color: #fff;
    height: 14px;
    margin-top: -7px;
}

.page-header .main-nav .main-menu > li > a {
    height: 70px;
    background-color: #191c19;
    color: #fff;
}

.page-header .main-nav .submenu a {
    height: 53px;
    background-color: #fff;
    color: #191c19;
}

.page-header .promo-text {
    align-self: flex-end;
    margin-bottom: 70px;
    text-align: center;
    color: #fff;
}

.page-header .promo-text .heading {
    margin: 0 0 15px;
    font-family: 'Playfair Display', serif;
    font-size: 4.8rem;
}

.page-header .promo-text .caption {
    display: none;
}

.page-content {
    overflow: auto;
    margin-top: -135px;
    padding-top: 150px;
    background-color: #fff;
}

.product-section .section-header {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    height: 190px;
    padding: 0 50px;
    /*background-image: url(../img/circle.png);
    background-position: right bottom;
    background-repeat: no-repeat;*/
    background: url(../img/circle.png) no-repeat;
    background-position: right -20px bottom -100px;
}

.product-section .section-header.green {
    background-color: #86c878;
}

.product-section .section-header.turquoise {
    background-color: #78c8c0;
}

.product-section .section-header.dark-blue {
    background-color: #78a1c8;
}

.product-section .section-header .heading,
.product-section .section-header .caption {
    width: 100%;
    margin: 0;
}

.product-section .section-header .heading {
    font-size: 3.6rem;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.product-section .section-header .caption {
    font-size: 1.8rem;
    font-weight: 300;
}

.product {
    display: flex;
    align-items: center;
    min-height: 190px;
    padding: 20px 15px 20px 10px;
    border-bottom: 1px solid #e6e6e6;
}

.product.last {
    border-bottom: 0;
}

.product .product-thumbnail {
    max-width: 150px;
    position: relative;
    flex-shrink: 0;
    margin-right: 20px;
}

.product .product-thumbnail {
    vertical-align: top;
}

.product .product-name,
.product .product-price {
    font-size: 1.8rem;
}

.product .product-name {
    margin: 0 0 15px;
    font-weight: 300;
}

.product .product-price {
    color: #86c878;
}

.product .product-price,
.product .regular-price {
    display: block;
    font-weight: 700;
}

.product .regular-price {
    margin-top: 5px;
    font-size: 1.4rem;
    text-decoration: line-through;
    color: #cecece;
}

.product .discount {
    position: absolute;
    top: 15px;
    left: 15px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 1.4rem;
}

.product .discount,
.product .discount::before {
    display: block;
    width: 44px;
    height: 44px;
    background-color: #86c878;
}

.product .discount::before {
    content: '';
    transform: rotate(45deg);
    position: absolute;
}

.product .discount .text {
    position: relative;
    z-index: 10;
}

.pagination {
    margin: 55px 10px 70px;
    display: flex;
    justify-content: center;
}

.pagination a {
    margin-left: -2px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.4rem;
    border: 2px solid #e6e6e6;
    transition: border .15s ease-out;
}

.pagination a:nth-child(2) {
    margin-left: 0;
}

.pagination a:first-child {
    margin-right: 30px;
}

.pagination a:last-child {
    margin-left: 30px;
}

.pagination a:hover {
    position: relative;
    z-index: 10;
    border-color: #86c878;
}

.page-footer {
    padding: 65px 0 0;
    background-color: #191c19;
    color: #6b6d6b;
}

.page-footer .divider {
    margin: 0 0 25px;
    height: 1px;
    /*background-color: #303430;*/
    background-color: #7a7a7a;
    border: 0;
}

.page-footer .footer-grid {
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;
}

.page-footer .footer-grid-cell {
    width: 50%;
    flex-shrink: 0;
}

.page-footer .top-grid {
    flex-wrap: wrap;
}

.page-footer .bottom-grid {
    padding-bottom: 30px;
    align-items: center;
}

.page-footer .copyright {
    margin: 0;
}

.page-footer .links-section {
    margin: 0 20px 40px;
    min-width: 130px;
}

.page-footer .links-section:first-child {
    margin-left: 0;
}

.page-footer .links-section:last-child {
    margin-right: 0;
}

.page-footer .links-section.no-heading {
    padding-top: 50px;
}

.page-footer .links-section .section-heading {
    margin: 0 0 30px;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #86c878;
}

.page-footer .links-section .links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-footer .links-section .links li {
    margin-bottom: 5px;
}

.page-footer .links-section .links li:last-child {
    margin-bottom: 0;
}

.page-footer .links-section .links a {
    font-size: 1.2rem;
}

.page-footer .links-section .social-links {
    display: flex;
    max-width: 200px;
    justify-content: space-between;
}

.page-footer .links-section .links.social-links a {
    color: #fff;
    font-size: 1.8rem;
}

.page-footer .logo {
    width: 102px;
    height: 38px;
}


/* 620px */
@media screen and (min-width: 38.750em) {
    .page-footer .footer-grid-cell {
        width: 33.333%;
    }
}

/* 720px */
@media screen and (min-width: 45.000em) {
    .page-header .info-bar {
        justify-content: flex-end;
    }

    .page-header .info-bar a {
        margin-left: 40px;
    }

    .page-header .info-bar .free-delivery {
        display: block;
        margin-right: auto;
        text-transform: uppercase;
    }

    .page-header .hero {
        min-height: 550px;
    }

    .page-header .promo-text .heading {
        font-size: 10.8rem;
    }

    .page-header .promo-text .caption {
        display: block;
        margin: 30px 0 35px;
        font-size: 3rem;
    }
}

/* 768px */
@media screen and (min-width: 48.000em) {
    .page-header .nav-toggle-btn {
        display: none;
    }

    .page-header .main-nav .main-menu,
    .page-header .main-nav .main-menu.on {
        display: flex;
        white-space: nowrap;
    }

    .page-header .main-nav .submenu {
        display: none;

        position: absolute;
        background: white;
        /*padding-top: 35px;
        padding-bottom: 50px;
        padding-left: 25px;
        padding-right: 25px;*/
        padding: 35px 25px 50px;
    }

    .page-header .main-nav .submenu.on {
        display: block;
    }

    .page-header .main-nav .main-menu > li:first-child .submenu {
        padding-left: 40px;
        padding-right: 45px;
    }

    .page-header .main-nav .submenu li {
        margin-bottom: 13px;
    }

    .page-header .main-nav .submenu li:last-child {
        margin-bottom: 0;
    }

    .page-header .main-nav .submenu a {
        height: auto;
        padding: 0;
    }

    .page-header .main-nav ul a {
        padding: 0 25px;
    }

    .page-header .main-nav .main-menu > li:first-child > a {
        padding-left: 40px;
    }

    .page-header .main-nav .main-menu > li:last-child > a {
        padding-right: 40px;
    }

    .page-header .main-nav .main-menu .has-submenu {
        padding-right: 40px;
    }

    /* Footer */
    .page-footer .links-section .links a {
        font-size: 1.6rem;
    }

    .page-footer .links-section .links li {
        margin-bottom: 10px;
    }
}

/* 820px */
@media screen and (min-width: 51.250em) {
    .page-header .hero {
        background-image: url(../img/hero-bg-desktop.jpg);
    }

    .products-grid {
        display: flex;
        flex-wrap: wrap;

        /*display: grid;*/
        /*grid-template-columns: 50% 50%;*/
    }

    .product-grid-cell {
        width: 50%;
        flex-shrink: 0;
    }

    .product-section .section-header {
        height: 100%;
        align-content: flex-end;
        padding-bottom: 50px;
    }

    .product-section .section-header {
        background-position: right bottom;
    }

    .product-section .section-header .heading {
        /*font-size: 4.8rem;*/
        margin-bottom: 25px;
    }

    .product {
        display: block;
        text-align: center;
        border: 0;
    }

    .product .product-thumbnail {
        max-width: none;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .product .product-name {
        margin-bottom: 40px;
    }

    .product .discount {
        left: auto;
        right: 0;
        top: 0;
    }
}

/* 960px */
@media screen and (min-width: 60.000em) {
    .page-header .content-offset {
        padding-left: 65px;
        padding-right: 65px;
    }

    .page-footer .footer-grid-cell {
        width: 25%;
    }

    .page-footer .bottom-grid {
        justify-content: flex-start;
    }
}

/* 1200px */
@media screen and (min-width: 75.000em) {
    .page-header .promo-text {
        margin-bottom: 120px;
    }

    /*.products-grid {
        grid-template-columns: 25% 25% 25% 25%;
    }*/

    .product-grid-cell {
        width: 25%;   
    }

    .product-section {
        margin-bottom: 50px;
    }

    .product {
        margin: 0 25px;
        height: 100%;
        padding: 35px 40px 45px;
        transition: box-shadow .3s ease-out, transform .3s ease-out;
        background-color: #fff;
    }

    .product:hover {
        box-shadow: 0px 1px 25px 0px rgba(18, 16, 11, 0.16);
        transform: scale(1.1);
        position: relative;
        z-index: 10;
    }

    .product .discount {
        z-index: 10;
    }

    .product .product-thumbnail .img-wrapper {
        overflow: hidden;
    }

    .product .product-thumbnail img {
        transition: transform .3s ease-out;
    }

    .product:hover .product-thumbnail img {
        transform: rotate(10deg);
    }
}